header.header
	.container
		.row
			.col-lg-6
				a.logo(href="/")
					img(src="img/logo.svg")
				p.course курс
				h1.title Высший пилотаж <b>в отношениях</b>
				p.desc.
					Обязательное сексуальное образование <br>
					для женщин от <b>Светланы Керимовой</b>
			.col-lg-6
				.timer
					p.timer-title.
						У тебя есть <b><span>48 часов</span></b> на <br>
						использование <b>скидки от <span class="big">28%</span> до <span class="big">51%</span></b>
					.soon#soon