// HIDDEN ELEMENTS (MODALS)
#modal-video.modal-overlay
	.container
		.modal-content
			.close-button
				.one
				.two
			.video
				#video-popup

#modal-form-offline.modal-overlay
	.modal-content
		.close-button
			.one
			.two
		include form-offline.jade

#modal-form-online.modal-overlay
	.modal-content
		.close-button
			.one
			.two
		include form.jade

#modal-program.modal-overlay
	.modal-content
		.close-button
			.one
			.two
		include ../partials/program.jade


// END HIDDEN ELEMENTS (MODALS)

.modals.
	<div class="popup-layout" id="popup-confidentiality">
		<div class="popup-scrollarea">
			<div class="popup popup--bg-bottom popup-agreement">
				<div class="popup__close">
					<div class="popup__close-line"></div>
					<div class="popup__close-line"></div>
				</div>
				<h1>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ И СБОРА ДАННЫХ WOMAN INSIGHT</h1>

				<h2>Условия сбора и хранения данных</h2>
				<p>Пользуясь сайтом или приобретая услуги, предлагаемые на сайте http://womaninsight.club/, а также отвечая на необходимые вопросы в анкете при регистрации и/ или оформлении заказа, Вы подтверждаете, что даете согласие ФЛП Керимова Светлана Валериевна, Украина, регистрационный номер РНУКПН 2993013085 (далее «Оператор данных», «Оператор» или «Владелец») и уполномоченным ею лицам, на обработку персональных данных, а также что являетесь совершеннолетним лицом.</p>
				<p>Вы даете свое согласие Оператору и уполномоченным им лицам на обработку полученной информации, включая сбор, хранение, использование, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение, обезличивание, блокирование, уничтожение персональных данных, оставленных при использовании средств автоматизации, систематизацию и формирование базы данных пользователей сайта, составления статистической отчетности, а также на получение информации о проводимых исследованиях и иных предложений от Оператора и уполномоченных им лиц.</p>
				<p>Вы предоставляете свое согласие и разрешаете Оператору и уполномоченным им лицам (далее «мы» или «нам») обрабатывать свои персональные данные (в том числе: Имя; Фамилия; Отчество; Пол; Контактный телефон; Электронную почту).</p>
				<p>Вы подтверждаете, что даете согласие и предоставляете нам право осуществлять автоматизированную и неавтоматизированную обработку, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, исправление), использование, распространение, обезличивание, блокирование, уничтожение персональных данных, указанных в анкете, в целях осуществления мероприятий, направленных на формирование базы данных пользователей сайта, составления статистической отчетности, проведения маркетинговых исследований, а также осуществления взаимодействия с вами, в том числе по сетям электросвязи, включая направление SMS-сообщений и электронных писем, до момента отзыва такого согласия.</p>
				<p>Вы соглашаетесь с тем, что мы и уполномоченные нами лица вправе взаимодействовать с вами путем осуществления прямых контактов с помощью различных средств связи, включая, но, не ограничиваясь: почтовая рассылка, электронная почта, сеть Интернет и др.</p>
				<p>Вы вправе отозвать свое согласие в любое время, направив нам письменное уведомление, воспользовавшись контактными данными, размещенными на сайте http://womaninsight.club/.</p>
				<p>Вы согласны с тем, что предоставленные вами персональные данные будут удалены по вашему письменному требованию в течение шестидесяти (60) дней с даты получения требования об их уничтожении.</p>
				<p>Вы предоставляете согласие на обработку своих персональных данных на срок десять (10) лет с даты передачи данных. В случае, если по истечении вышеуказанного срока согласие на обработку персональных данных не отозвано, действие согласия пролонгируется еще на 10 лет. Количество пролонгаций не ограничено.</p>
				<p>Мы оставляем за собой право использовать предоставленную информацию указанными выше способами без специального согласования с вами и без выплаты вам последующего денежного вознаграждения.</p>
				<p>Мы сохраняем за собой право периодического обновления или внесения изменений в вышеизложенные положения в одностороннем порядке.</p>

				<h2>Категории собираемых Данных</h2>
				<p>Категории Персональных данных, сбор которых осуществляет сайт http://womaninsight.club/ (самостоятельно или при посредничестве третьих лиц), включают: Файлы «cookie» и Данные об использовании сетевых ресурсов.</p>
				<p>Прочие собираемые Персональные данные могут описываться в других разделах настоящей Политики или в специальном пояснительном тексте в контексте сбора данных.</p>
				<p>Персональные данные могут предоставляться Вами самостоятельно или их сбор может автоматически осуществлять сайт в процессе его использования.</p>
				<p>Если не указано иное, сайт http://womaninsight.club/ использует файлы «cookie» (или другие средства отслеживания) для идентификации Пользователей и запоминания установленных ими глобальных параметров настройки исключительно в целях предоставления услуги, требующейся Пользователю.</p>
				<p>Вы несете ответственность за Персональные данные третьих лиц, которые вы получаете, публикуете или предоставляете другим лицам, используя сайт, и подтверждаете, что у них имеется согласие третьего лица на предоставление данных нам.</p>

				<h2>Метод и место обработки Данных</h2>
				<h3>Метод обработки</h3>
				<p>Обработка Данных осуществляется с использованием компьютеров и (или) средств с поддержкой информационных технологий (ИТ) в соответствии с организационными процедурами и методами, строго связанными с указанными целями.</p>
				<p>В некоторых случаях Данные могут быть доступны, помимо Оператора данных, определенным категориям ответственных лиц, связанных с обеспечением функционирования сайта (администрация, отдел продаж, отдел маркетинга, юридический отдел, системные администраторы), или сторонним организациям (таким как сторонние поставщики технических услуг, почтовые организации, поставщики услуг хостинга, компании-поставщики информационных технологий, службы связи), которым Оператор поручает, при необходимости, выполнять функции Обработчика данных. Обновляемый перечень указанных лиц можно в любое время запросить у Оператора данных.</p>
				<h3>Место</h3>
				<p>Данные обрабатываются в операционных офисах Оператора данных и в любых иных местах, где находятся стороны, занимающиеся их обработкой. За дополнительной информацией следует обращаться к Оператору данных.</p>
				<h3>Использование собранных Данных</h3>
				<p>Сбор Данных, касающихся Пользователя, осуществляется для того, чтобы дать возможность Оператору предоставлять услуги, а также в следующих целях: аналитика, регистрация и аутентификация.</p>
				<p>Персональные данные, используемые для каждой цели, описываются в соответствующих разделах настоящего документа.</p>

				<h2>Подробная информация об обработке Персональных данных</h2>
				<h3>Аналитика</h3>
				<p>Услуги, описываемые в этом разделе, дают нам возможность контролировать и анализировать веб-трафик и могут использоваться для фиксирования ваших действий (действий пользователя сайта).</p>
				<p>Google Analytics (Google Inc.)</p>
				<p>Google Analytics – сервис веб-анализа, предлагаемый компанией Google Inc. («Google»). Google использует собранные Данные для фиксирования и анализа действий пользователей в целях подготовки отчетов об операциях, которые выполняет сайт, и их последующей передачи другим сервисам Google.</p>
				<p>Google может использовать собранные Данные для того, чтобы генерировать рекламные объявления своей собственной рекламной сети с учетом интересов и предпочтений конкретного пользователя.</p>
				<p>Собираемые Персональные данные: Данные об использовании сетевых ресурсов и Файлы «cookie».</p>
				<p>Место обработки: США – Правила обеспечения конфиденциальности персональных данных – Отказ от участия</p>
				<h3>Cookie-файлы, веб-маяки и другие технологии</h3>
				<p>Сайт http://womaninsight.club/ собирает информацию о посещениях вами наших веб-сайтов с целью получения статистики посещений и эффективности их использования, формирования персонального подхода и адаптации к интересам каждого пользователя. Мы делаем это с помощью различных технологий, одна из которых — cookie-файлы. Это данные, которые веб-сайт может отправить вашему браузеру, и они будут сохранены на вашем компьютере для последующей идентификации его веб-сайтом.</p>
				<p>Чаще всего cookie-файлы используются для оценки эффективности веб-сайтов (например, для измерения количества посетителей и длительности их пребывания на сайте), выявления наиболее интересных и посещаемых тем и страниц, а также для обеспечения удобства навигации и пользования сайтом, без сбора какой-либо персональной информации. Также cookie-файлы могут быть использованы для формирования персонального подхода на основе уже имеющегося опыта взаимодействия пользователя с сайтом и его предпочтениями. С течением времени эта информация позволяет улучшить пользовательский опыт.</p>
				<p>Cookie-файлы обычно делят на сессионные и постоянные. Сессионные cookie-файлы помогают эффективно перемещаться по веб-сайту таким образом, что единожды запрошенная в рамках сессии информация уже не будет запрашиваться вновь. Сессионные cookie-файлы сохраняются во временной памяти и стираются с закрытием браузера. Постоянные cookie-файлы сохраняют пользовательские настройки для текущих и последующих визитов. Они сохраняются на жёстком диске компьютера или на накопителе мобильного устройства и активизируются при запуске браузера. Мы используем постоянные cookie-файлы для сохранения информации, например, о языке и стране пользователя.</p>

				<h2>Дополнительная информация о сборе и обработке Данных</h2>
				<h3>Обращение в суд</h3>
				<p>Ваши Персональные данные могут быть использованы нами в юридических целях в суде или на этапах, ведущих к возможному обращению в суд в связи с тем, что сайт или услуги WOMAN INSIGHT использовались ненадлежащим образом.</p>
				<p>Вы осведомлены о том, что Оператор данных может быть вынужден сообщить персональные данные по требованию органов государственной власти.</p>

				<h2>Дополнительная информация о Персональных данных Пользователя</h2>
				<p>Помимо информации, содержащейся в настоящих правилах обеспечения конфиденциальности персональных данных, сайт может предоставлять Пользователю по запросу дополнительную и контекстуальную информацию, касающуюся конкретных услуг и сервисов или сбора и обработки Персональных данных.</p>

				<h2>Системные журналы и техническое обслуживание</h2>
				<p>В целях обеспечения работы сайта и его технического обслуживания, сайт и любые сторонние сервисы могут вести файлы, в которых регистрируется взаимодействие сайта с Пользователями (системные журналы), или использовать с этой целью другие Персональные данные (в частности, IP-адрес).</p>

				<h2>Информация, отсутствующая в настоящей политике</h2>
				<p>Дополнительные сведения, касающиеся сбора или обработки Персональных данных, можно в любое время запросить у нас (Оператора и Владельца данных). Наши контактные сведения указаны на сайте.</p>

				<h2>Права Пользователей</h2>
				<p>Вы вправе в любое время узнать, были ли сохранены ваши Персональные данные, и можете обращаться к нам, чтобы узнать их содержание и происхождение, проверить их достоверность, или попросить их дополнить, аннулировать, обновить или исправить либо преобразовать в формат, обеспечивающий анонимность, или блокировать любые данные, хранящиеся в нарушение закона, а также выступить против их обработки по всем без исключения законным основаниям. Соответствующие запросы следует направлять нам по адресу, указанному в контактных сведениях на сайте http://womaninsight.club/.</p>
				<p>Веб-сайты http://womaninsight.club/ в настоящее время не распознают автоматизированные команды браузера, касающиеся механизмов отслеживания, например, такие как инструкции «не отслеживать», так что вы можете самостоятельно настроить обработку браузером cookie-файлов и других технологий в соответствии с вашими предпочтениями в области конфиденциальности. В большинстве случаев вы можете включить в браузере уведомления об использовании cookie-файлов, чтобы у вас была возможность решить, принимать эти условия или нет. Также вы можете вообще отключить cookie-файлы в настройках браузера.</p>
				<p>Некоторые браузеры позволяют включить функцию «не отслеживать», которая посылает сигналы на посещаемые вами веб-сайты, показывая, что вы не хотите, чтобы ваши действия на сайте отслеживались. Эта функция отличается от блокировки или отключения cookie-файлов, так как браузер с включённой функцией «не отслеживать» всё ещё может принимать cookie-файлы. В настоящее время не существует отраслевого стандарта, регламентирующего реакцию компаний на сигналы «не отслеживать», но в будущем такой стандарт может быть разработан. В настоящее время мы не реагируем на сигнал «не отслеживать». Если мы начнём делать это в будущем, то опишем это в настоящем Положении о конфиденциальности. Более подробная информация о функции «не отслеживать» доступна на сайте www.allaboutdnt.org.</p>

				<h2>Защита персональных данных</h2>
				<p>Мы предпринимаем все коммерчески обоснованные меры для предотвращения несанкционированного доступа к персональным данным и использования ваших персональных данных, полученных в процессе регистрации или иным упомянутым выше способом при использовании данного веб-сайта. Мы стремимся защищать ваши персональные данные, однако мы не можем обеспечить безопасность информации, которую вы передаёте нам, и поэтому призываем вас принимать все доступные меры предосторожности для защиты ваших персональных данных в сети Интернет. Для этого чаще меняйте пароли, используйте комбинации букв и цифр, а также пользуйтесь безопасным браузером.</p>
				<p>Обеспечение информационной безопасности детей</p>
				<p>Веб-сайты http://womaninsight.club/ не ориентированы на привлечение внимания детей младше 13 лет. Мы преднамеренно не занимаемся сбором персональных данных детей младше 13 лет и не направляем им никаких запросов на предоставление персональной информации.</p>
				<p>Внесение изменений в настоящую политику</p>
				<p>Мы оставляем за собою право в любое время вносить изменения в настоящую Политику конфиденциальности, разместив на этой странице соответствующее уведомление. Настоятельно рекомендуется часто проверять эту страницу и дату внесения последних изменений, указанную в нижней части страницы.</p>
				<p>В случае несогласия с любыми изменениями, внесенными в Политику, вы должны прекратить пользоваться сайтом и услугами WOMAN INSIGHT и можете требовать, чтобы мы удалили ваши персональные данные. Если не указано иное, действующие на тот момент правила обеспечения конфиденциальности персональных данных распространяются на все Персональные данные пользователей, которыми мы располагаем.</p>
				<p>Информация о политике обеспечения конфиденциальности персональных данных</p>
				<p>Мы несем ответственность за выполнение настоящей Политики конфиденциальности и изложенных в ней правил обеспечения конфиденциальности персональных данных.</p>

				<h2>Правовая информация</h2>
				<p>Настоящая Политика конфиденциальности отвечает требованиям законодательства Украины о защите персональных данных, требованиям законодательства большинства стран СНГ и содержит сведения о реализуемых Оператором данных требованиях к обработке и защите персональных данных.</p>
				<p>Примечание для европейских Пользователей: настоящая Политика конфиденциальности подготовлена во исполнение обязанностей, предусмотренных ст. 10 Директивы ЕС № 95/46/EC, и в соответствии с положениями Директивы 2002/58/EC, с учетом изменений, внесенных Директивой 2009/136/EC, касающихся файлов «cookie».</p>
				<p>Примечание для Пользователей РФ: настоящая Политика конфиденциальности отвечает требованиям Федерального закона от 27.07.2006 г. № 152-ФЗ «О персональных данных».</p>

				<h2>Оператор и Владелец данных</h2>
				<p>
					ФЛП КЕРИМОВА СВЕТЛАНА ВАЛЕРИЕВНА<br>
					65006, Одесская обл., г. Одесса, ул. Дальневосточная, дом 4-Б, кв. 11<br>
					Регистрационный номер 2993013085<br>
					info@womaninsight.club
				</p>
			</div>
		</div>
	</div>

	<div class="popup-layout" id="popup-agreement">
		<div class="popup-scrollarea">
			<div class="popup popup--bg-bottom popup-agreement">
				<div class="popup__close">
					<div class="popup__close-line"></div>
					<div class="popup__close-line"></div>
				</div>
				<h1>Согласие с рассылкой</h1>

				<p>Заполняя форму на нашем сайте — вы соглашаетесь с нашей политикой конфиденциальности. Также вы соглашаетесь с тем, что мы имеем право разглашать ваши личные данные в следующих случаях:</p>
				<p><b>С Вашего согласия:</b> Во всех остальных случаях перед передачей информации о Вас третьим сторонам наша Компания обязуется получить Ваше явное согласие. Например, наша Компания может реализовывать совместное предложение или конкурс с третьей стороной, тогда мы попросим у Вас разрешение на совместное использование Вашей личной информации с третьей стороной.</p>
				<p><b>Компаниям, работающим от нашего лица:</b> Мы сотрудничаем с другими компаниями, выполняющими от нашего лица функции бизнес поддержки, в связи с чем Ваша личная информация может быть частично раскрыта. Мы требуем, чтобы такие компании использовали информацию только в целях предоставления услуг по договору; им запрещается передавать данную информацию другим сторонам в ситуациях, отличных от случаев, когда это вызвано необходимостью предоставления оговоренных услуг. Примеры функций бизнес поддержки: выполнение заказов, реализация заявок, выдача призов и бонусов, проведение опросов среди клиентов и управление информационными системами. Мы также раскрываем обобщенную неперсонифицированную информацию при выборе поставщиков услуг.</p>
				<p><b>Дочерним и совместным предприятиям:</b> Под дочерним или совместным предприятием понимается организация, не менее 50% долевого участия которой принадлежит Компании. При передаче Вашей информации партнеру по дочернему или совместному предприятию наша Компания требует не разглашать данную информацию другим сторонам в маркетинговых целях и не использовать Вашу информацию каким-либо путем, противоречащим Вашему выбору. Если Вы указали, что не хотите получать от нашей Компании какие-либо маркетинговые материалы, то мы не будем передавать Вашу информацию своим партнерам по дочерним и совместным предприятиям для маркетинговых целей.</p>
				<p><b>На совместно позиционируемых или партнерских страницах:</b> Наша Компания может делиться информацией с компаниями-партнерами, вместе с которыми реализует специальные предложения и мероприятия по продвижению товара на совместно позиционируемых страницах нашего сайта. При запросе анкетных данных на таких страницах Вы получите предупреждение о передаче информации. Партнер использует любую предоставленную Вами информацию согласно собственному уведомлению о конфиденциальности, с которым Вы можете ознакомиться перед предоставлением информации о себе.</p>
				<p><b>5) При передаче контроля над предприятием:</b> Наша Компания оставляет за собой право передавать Ваши анкетные данные в связи с полной или частичной продажей или трансфертом нашего предприятия или его активов. При продаже или трансферте бизнеса наша Компания предоставит Вам возможность отказаться от передачи информации о себе. В некоторых случаях это может означать, что новая организация не сможет далее предоставлять Вам услуги или продукты, ранее предоставляемые нашей Компанией.</p>
				<p><b>6) Правоохранительным органам:</b> Наша Компания может без Вашего на то согласия раскрывать персональную информацию третьим сторонам по любой из следующих причин: во избежание нарушений закона, нормативных правовых актов или постановлений суда; участие в правительственных расследованиях; помощь в предотвращении мошенничества; а также укрепление или защита прав Компании или ее дочерних предприятий.</p>
				<p>Вся личная информация, которая передана Вами для регистрации на нашем сайте, может быть в любой момент изменена либо полностью удалена из нашей базы по Вашему запросу. Для этого Вам необходимо связаться с нами любым удобным для Вас способом, использую контактную информацию, размещенную в специальном разделе нашего сайта.</p>
				<p>Если Вы захотите отказаться от получения писем нашей регулярной рассылки, вы можете это сделать в любой момент с помощью специальной ссылки, которая размещается в конце каждого письма.</p>


			</div>
		</div>
	</div>