.program.row.justify-content-center.align-items-start
	.program-item.col-lg-5.col-md-7
		ul(data-number='1')
			li Не святая – я живая
			li С чего начинаются изменения в жизни
			li Очищение энергии на всех уровнях
			li Система развития себя
	.program-item.col-lg-5.col-md-7
		ul(data-number='2')
			li Волшебный дом
			li Очищение энергетики дома
			li Создание атмосферы полного расслабления
			li Творить осознанно чудеса в быту
	.program-item.col-lg-5.col-md-7
		ul(data-number='3')
			li Не святая – я живая
			li С чего начинаются изменения в жизни
			li Очищение энергии на всех уровнях
			li Система развития себя
	.program-item.col-lg-5.col-md-7
		ul(data-number='4')
			li Новый уровень доверия
			li Оргазм он/она
			li Проработка комплексов
			li Узнать и говорить о желаниях
	.program-item.col-lg-5.col-md-7
		ul(data-number='5')
			li Сила притяжения
			li Развитие женственности
			li Как включать мужчину
			li Что всегда восхищает
	.program-item.col-lg-5.col-md-7
		ul(data-number='6')
			li Ты  —  особенная
			li Как нести себя достойно
			li Учимся принимать блага
			li Как быть его царицей: манеры, этикет, — искусна в каждом движении
	.program-item.col-lg-5.col-md-7
		ul(data-number='7')
			li Сексуальность
			li Расслабление и возбуждение женщины
			li Интимная гимнастика (много практики)
			li Особые техники соития
	.program-item.col-lg-5.col-md-7
		ul(data-number='8')
			li Правила красивой женщины
			li Идеи на каждый день для красоты на 100 лет
			li Как дисциплинировать физическое тело
			li Как помочь ему быть мужественным
	.program-item.col-lg-5.col-md-7
		ul(data-number='9')
			li Искусство прикосновений
			li Правила и секреты профессионалов
			li Массаж для любимого
	.program-item.col-lg-5.col-md-7
		ul(data-number='10')
			li Искусство поцелуя
			li Орально-мануальные ласки
			li Экзотические женские техники
	.program-item.col-lg-5.col-md-7
		ul(data-number='11')
			li Жить душа в душу
			li Что такое безусловное принятиеи
			li Практика прощения и доверия
			li 7 граней любви
	.program-item.col-lg-5.col-md-7
		ul(data-number='12')
			li Его радость  —  баловать тебя
			li Как наполняться и обмениваться энергией
			li Массаж эмоций в паре
			li Схема получения подарков
	.program-item.col-lg-5.col-md-7
		ul(data-number='13')
			li Как найти своё предназначение
			li Определим, с какой задачей ты родилась
			li Стать интересной мужчине как личность
			li Как договариваться с партнером: правила
	.program-item.col-lg-5.col-md-7
		ul(data-number='14')
			li Лучшие друзья
			li Как поддерживать связь и быть единомышленниками
			li Три секрета для счастья
	.program-item.col-lg-5.col-md-7
		ul(data-number='15')
			li Не святая – я живая
			li Тайм-менеджмент для женщин
			li Секреты управления деньгами
	.program-item.col-lg-5.col-md-7
		ul(data-number='16')
			li Финальное занятие
			li.final Выпуск

