section.sec1
	.container
		p.sec-title Выбирай подходящий тебе <b>формат обучения</b>
		.tabs-menu
			a.tab-header.online.active(data-city="online" data-start="" data-pricefull="" data-price="" data-economy="") онлайн
			p.tabs-header-text или выбери живое участие в одном из городов:
			.tabs-headers-offline
				a.tab-header.kiev(data-city="kiev" data-start="29 августа" data-pricefull-standart="350" data-price-standart="249" data-economy-standart="101" data-discount-standart="28.9%"
					data-pricefull-vip="980" data-price-vip="599" data-economy-vip="381" data-discount-vip="38.9%") киеве
				a.tab-header.odessa(data-city="odessa" data-start="30 августа" data-pricefull-standart="350" data-price-standart="249" data-economy-standart="101" data-discount-standart="28.9%"
				data-pricefull-vip="980" data-price-vip="599" data-economy-vip="381" data-discount-vip="38.9%") одессе
				a.tab-header.moscow(data-city="moscow" data-start="27 августа" data-pricefull-standart="589" data-price-standart="419" data-economy-standart="170" data-discount-standart="28.9%"
				data-pricefull-vip="1509" data-price-vip="899" data-economy-vip="610" data-discount-vip="40.4%") москве
				a.tab-header.almaty(data-city="almaty" data-start="20 августа" data-pricefull-standart="403" data-price-standart="287" data-economy-standart="116" data-discount-standart="28.8%"
				data-pricefull-vip="1100" data-price-vip="699" data-economy-vip="401" data-discount-vip="36.5%" style="display: none;") алматы
		.tab-online
			.row.justify-content-center
				.col-lg-4.col-md-6
					.package
						.discount-block
							p.discount-text скидка <br> <b>51,8%</b>
						.info-block
							p.package-title онлайн
							ul.package-info
								li 16 занятий
								li рабочий онлайн-кабинет
								li домашние задания
								li методичка
						.price-block
							p.price-old $589
							p.price $284
							a.btn.hvr-grow-shadow(href="#modal-form-online") Купить «Онлайн»
							p.economy ты экономишь <b>$305</b>
					a.program-btn.btn.hvr-grow-shadow(href="#modal-program") Смотреть программу занятий
		.tab-offline
			p.start-text#start Ближайшая дата старта: <b>20 Сентября</b>
			.row.justify-content-center
				.col-lg-5.col-md-6
					.package.package-standart
						.discount-block
							p.discount-text скидка <br> <b>23%</b>
						.info-block
							p.package-title стандарт
							ul.package-info
								li 16 занятий в центре Woman Insight вашего города, 2 раза в неделю, 2 месяца
								li Welcome box, раздаточный материал, методичка
								li Ответы на ваши вопросы в течение занятий
								li 14 писем от Светланы Керимовой с домашним заданием, итогами занятия и видеоуроками
								li 3-месячная подписка на Журнал Woman Insight стоимостью $33
								li Диплом
								li Выпускной фуршет
						.price-block
							p.price-old $393
							p.price $299
							a.btn.hvr-grow-shadow(href="#modal-form-offline" data-plan="standard") Купить «Стандарт»
							p.economy ты экономишь <b>$94</b>

				.col-lg-5.col-md-6
					.package.package-vip
						.discount-block
							p.discount-text скидка <br> <b>36%</b>
						.info-block
							p.package-title vip
							ul.package-info
								li 16 занятий в центре Woman Insight вашего города, 2 раза в неделю, 2 месяца
								li Welcome box, раздаточный материал, методичка, дневник
								li Ответы на ваши вопросы в течение занятий
								li 14 писем от Светланы Керимовой с домашним заданием, итогами занятия и видеоуроками.
								li Лайфхаки от Светланы
								li 12-месячная подписка на Журнал Woman Insight стоимостью $132
								li Диплом
								li Выпускной фуршет
								li Участие в 3-х встречах закрытого клуба Woman Insight с тренерами и приглашёнными спикерами
								li 1 часовая консультация по «Дизайну человека»
								li 1 часовая индивидуальная консультация психолога
								li Закрытая группа в Viber с тренерами по разбору домашних заданий и ответам на вопросы
						.price-block
							p.price-old $1100
							p.price $699
							a.btn.hvr-grow-shadow(href="#modal-form-offline" data-plan="vip") Купить пакет VIP
							p.economy ты экономишь <b>$401</b>
			a.program-btn.btn.hvr-grow-shadow(href="#modal-program") Смотреть программу занятий

