include ../common/variables.jade
doctype html
html(lang='ru-RU')
	head
		include ../common/gtm.jade
		include ../partials/head.jade
	body
		include ../common/gtm2.jade
		include ../common/preloader.jade
		include ../partials/header.jade
		include ../partials/sections.jade
		include ../partials/footer.jade
		include ../partials/modals.jade
		include ../common/scripts.jade

